
musictechappvers01.xcodeproj/project.xcworkspace/xcuserdata/jordanwatson1.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcbkptlist

musictechappvers01.xcodeproj/project.xcworkspace/xcuserdata/jordanwatson1.xcuserdatad/UserInterfaceState.xcuserstate

musictechappvers01.xcodeproj/xcuserdata/jordanwatson1.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
